main{
	margin-top: 85px;
	
	/* margin-bottom: 40px; */
	}
 
#inicio{
	padding-top: 50px;


}


#login{
	margin-top: 14%;
	
/*	width: 900%;
	align-content: center;
	align-items: center;*/
}

#btn_registro{

	margin-right: 10px;
}
#btn_registroLogin{

	margin-bottom: 10px;
	margin-top: 10px;
}
.btn-menuP{
	margin: 10px;
	height: 100px;
	padding-top: 30px;
	font-size: 18px;
	white-space: normal;


}
.btn-menuS{
	margin: 10px;
	height: 80px;
	padding-top: 20px;
	font-size: 18px;
	white-space: normal;


}
/* #footer_registro{
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	margin-left: 40%;
	position: absolute;
	align-content: center;
	width: 100%;
}  */
#form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
#form-register{
	width: 100%;
	max-width: 630px;
	padding: 15px;
	margin: auto;
}
#perfil
{
	width: 100%;
	max-width: 530px;
	padding: 15px;
	margin: auto;
}

.footer{
	position: fixed;

	bottom: 0;

	width: 100%;

	height: 60px;

	line-height: 60px;

	background-color: #f5f5f5;
	
}



/* #imagen{
	margin-top: 5%;
	margin-left: 25%;
	margin-bottom: 5%;
} */